html,body{
  margin: 0;
  font-family: 'Lato', sans-serif
}
.be-red{
  background-color: #0D1326;
}
.white{
  color: #F1F2F0
}
.large-padding{
  padding: 15px 10px
}
.no-list{
  list-style: none
}

a{
  text-decoration: none;
}
a:visited{
  color:inherit;
}
.no-margin{
  margin: 0
}
